@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


/* * clases generales */

* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif, Arial, Helvetica;
    font-size: 30px;
    padding: 0;
    margin: 0;
}
 h1{
    font-size: 2em;
    text-align: center; 
 }

 button, .botonFalso{
     padding: 8px;
     border-radius: 20px;
     border: solid 2px #b51b1b;
     background-color: #d42020;
     color: white;
     transition: .5s;
     text-decoration: none;
 }

 button:hover, .botonFalso:hover {
    border: solid 2px #b51b1b;
    background-color: #7a15151a;
    scale: 1.01;
}


html {
    scroll-behavior: smooth;
  }


/* * bloques comunes */

.header {
background-color: #555555;
color: #ffffff;
display: grid;
grid-template-columns: auto auto;
align-items: stretch;


}



.footer {
background-color: #555555;
color: #ffffff;
}

/* * estilos especificos */


.servicios, .banner-ebook, .texto-introductorio, .banner-home {
    margin: 3px auto;
    padding: 0em 0.7em;
}



/* * header */
.nav-principal a, .nav-mobil a{
    color: #ffffff;
    text-decoration: none;
    margin: 8px
}

.header__logo {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-items: start;
    color: #ffffff;
    text-decoration: none;
}


.header__logo--texto {
    font-size: 1.5em;
    }

.header__logo--imagen{
    width: 100px;
}

.nav-principal{
    display: grid;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    align-items: center;
    justify-items: start;
    align-items: center;
    justify-items: start;
}

.nav-principal{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    align-items: stretch;
    justify-items: stretch;
    column-gap: 5px;    

}

.nav-principal img {
    width: 1.6em;
    
}

.nav-principal a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

}

.nav-principal a:hover {
    background-color: black;
    
}


/* ? --------------------- nav secundario para mobiles ----------------*/

.nav-mobil {
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    position: fixed;
    right: 10px;
    top: 30px;
    z-index: 2;
    align-items: stretch;
    justify-items: stretch;
    width: 95vw;
}

.nav-mobil img {
    width: 1.6em;
    
}

.nav-mobil a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #555555;
    border: 0.01em solid #ffffff;
    padding: 0.5em;

}

.nav-mobil a:hover {
    background-color: black;
    
}

.hamburguesa{
    position: fixed;
    display: none;
    right: 10px;
    top: 30px;
    z-index: 3;
    width: 50px;
    height: 50px;
    background-color: #d42020;
    text-align: center;
    border-radius: 10px;
    padding-top: 3px;
}

.nav-mobil.invisible {
    display:none;
    
}


/* * banner home */
.banner-home {
    box-sizing: border-box;
    width: 100vw;
    height: 90vh;
    max-width: 100%;
    background-color: #555555;
    min-height: 60vh;
    display: grid;
    color: white;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    
   
}


.backgroundImg{
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 90vh;
    object-fit: cover;
    z-index: 0;
    transition: opacity .6s;
}

.banner-home__boton{
align-self: center;
justify-self: center;
z-index: 1;
}

.banner-home hr{
    height: 1px;
    background-color: #b51b1b;
    border: none;
    z-index: 1;
}

.banner-home__msj h2{
    font-size: 1.2em;
    text-shadow: 3px 3px #080808d8;
    z-index: 1;

}

.banner-home__msj p {
    text-shadow: 3px 3px #080808d8;
    z-index: 1;
}


/* * texto intro */
.texto-introductorio h1{
    margin: 50px 0;
}
/* * banner ebook */

.banner-ebook{
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(1fr, 1fr));
    justify-items: center;
    margin: 100px auto;
    
}

.banner-ebook__imagen-ebook {
 width: 80vw;

}
.banner-ebook__boton{
    padding: 15px;
}

.banner-ebook__boton:hover {
    color: #d42020;
    font-weight: bold;
    padding: 10px;
    scale: 1.3;
}



/* * servcios */

.servicios {
    width: 100wv;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 30px;

 
}

.columna-servicios{
  display: grid;
  justify-items: center;
  align-items: center;

}


.columna-servicios p{
    text-align: justify;
    padding: .6em;
    
}

/* * footer */

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 0.9em;
    align-items: start;
    justify-items: start;
    margin-top: 50px;

}

.footer div {
    padding: 2vw;

}
.footer div span {
    font-size: .6em;
    padding: 5px 0;
}

.footer__otras-paginas li a{
    padding: 5px 0;
    color: white;
    text-decoration: none;
    font-size: .8em;

}

.footer__otras-paginas ul{
list-style-type: none;
}
.fas {
    color: #d42020;
    font-size: 0.5em;
}

/* ! estilo para el comportamiento del banner, modificado por js */


/* * script para texto e imagen*/

.banner-home__msj.none{
    display: none;
}
.banner-home__msj {
    opacity: 0;
    transition: all 0.3s;
    width: 90vw;
    height: 15vh;
    display: grid;
    align-self: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}
.active {
    opacity: 1;

}



@media screen and (max-width: 900px) {
.nav-principal{
    display: none;
}

.nav-mobil{
    display: grid;
}

.hamburguesa{
    display: block;
}

}